In [2]:
import re
count=0
pattern=re.compile('ab')
matcher=pattern.finditer("abaababa")
for match in matcher:
    
    count+=1
    print(match.start,".. ",match.end(),"...",match.group())
print("the number of occurence :",count)

<built-in method start of re.Match object at 0x0000021E0EC72D98> ..  2 ... ab
<built-in method start of re.Match object at 0x0000021E0EC72D30> ..  5 ... ab
<built-in method start of re.Match object at 0x0000021E0EC72D98> ..  7 ... ab
the number of occurence : 3

In [12]:
import re
matcher=re.finditer("[abc]","a7b@k9z")
for match in matcher:
    print(match.start(),"...",match.group())

0 ... a
2 ... b

In [13]:
matcher=re.finditer("[^abc]","a7b@k9z")
for match in matcher:
    print(match.start(),"...",match.group())

1 ... 7
3 ... @
4 ... k
5 ... 9
6 ... z

In [14]:
matcher=re.finditer("[a-z]","a7b@k9z")
for match in matcher:
    print(match.start(),"...",match.group())

0 ... a
2 ... b
4 ... k
6 ... z

In [15]:
import re
matcher=re.finditer("[abc]","a7b@k9z")
for match in matcher:
    print(match.start(),"...",match.group())

0 ... a
2 ... b

In [16]:
import re
matcher=re.finditer("[0-9]","a7b@k9z")
for match in matcher:
    print(match.start(),"...",match.group())

1 ... 7
5 ... 9

In [18]:
import re
matcher=re.finditer("[a-z0-9A-Z]","a7Ab@k9Bz")
for match in matcher:
    print(match.start(),"...",match.group())

0 ... a
1 ... 7
2 ... A
3 ... b
5 ... k
6 ... 9
7 ... B
8 ... z

In [20]:
import re
matcher=re.finditer("[\s]","a7 b@k9z")
for match in matcher:
    print(match.start(),"...",match.group())

2 ...

In [22]:
import re
matcher=re.finditer("[\D]","a7b@k9z")
for match in matcher:
    print(match.start(),"...",match.group())

0 ... a
2 ... b
3 ... @
4 ... k
6 ... z

In [23]:
import re
matcher=re.finditer("[\w]","a7b@k9z")
for match in matcher:
    print(match.start(),"...",match.group())

0 ... a
1 ... 7
2 ... b
4 ... k
5 ... 9
6 ... z

In [24]:
import re
matcher=re.finditer("[\W]","a7b@k9z")
for match in matcher:
    print(match.start(),"...",match.group())

3 ... @

In [29]:
import re
matcher=re.finditer("a+","abaabaab")
for match in matcher:
    print(match.start(),"...",match.group())

0 ... a
2 ... aa
5 ... aa

In [30]:
import re
matcher=re.finditer("a?","abaabaab")
for match in matcher:
    print(match.start(),"...",match.group())

0 ... a
1 ...
2 ... a
3 ... a
4 ...
5 ... a
6 ... a
7 ...
8 ...

In [51]:
import re
matcher=re.finditer("a{3}","abaabaab")
for match in matcher:
    print(match.start(),"...",match.group())

In [48]:
import re
matcher=re.finditer("[a{3,4}]","abaabaab")
for match in matcher:
    print(match.start(),"...",match.group())

0 ... a
2 ... a
3 ... a
5 ... a
6 ... a

In [37]:
s="Learning Python is very Easy"
res=re.search("^Learn",s)
if res!=None:
    print("Target string starts with learn")
else:
    print("Target string not starts with learn")

Target string starts with learn

In [52]:
s="Learning Python is very Easy"
res=re.search("Easy$",s)
if res!=None:
    print("Target string starts with Easy")
else:
    print("Target string not starts with Easy")

Target string starts with Easy

In [54]:
s="Learning Python is very easy"
res=re.search("Easy$",s,re.IGNORECASE)
if res!=None:
    print("Target string starts with Easy")
else:
    print("Target string not starts with Easy")

Target string starts with Easy

In [59]:
s=int(input("enter number"))
res=re.search("[0-9]*",s)
if res!=None:
    print("is a proper mobile no")
else:
    print("is not a valid number")

enter number7894934557

TypeError: expected string or bytes-like object

In [63]:
import re
inp=input("enter mobile number")
res=re.search("^[6789][0-9]{9}",inp)
if res!=None:
    print("correct")
else:
    print("wrong")

enter mobile number7893898948984985
correct

In [65]:
import re
inp=input("enter mobile number")
res=re.search("^[6789][0-9]{9}",inp)
if res!=None:
    print("correct")
else:
    print("wrong")

enter mobile number78928827364
correct

In [66]:
s=input("enter mobile number")
#num=int(num)
res1=re.search('^[6-9]',s)
if len(s)==10 and res1!=None:
    print("Correct")
else:
    print("not correct")

enter monile number7834886455
Correct

In [74]:

fhand=open("number.txt",'r')
f1=open("output.txt",'w')
for line in fhand:
    list=re.findall("[6-9]\d{9}",line)
    for n in list:
        f1.write(n+"\n")
print("extracted all mobile numbers")
fhand.close()
f1.close()

extracted all mobile numbers

In [77]:
f1=open("carplate.txt",'r')
f2=open('output1.txt','w')
for line in f1:
    list=re.findall("[KA][0][0-6][A-Z]{2}[0-9]{4}")
    for n in list:
        f1.write(n+"\n")
print("extracted all car plate number")
f1.close()
f2.close()

extracted all car plate number

In [82]:
import re
s=input("enter car registration number")
m=re.fullmatch("KA[0][0-6][A-Z]{2}\d{4}",s)
if m!=None:
      print("valid")
else:
       print("invalid")

enter car registration numberKA05DF1245
valid

In [84]:
import re
s=input("enter EMAIL id")
m=re.fullmatch("\w[a-zA-Z0-9_,]*@gmail[.]com",s)
if m!=None:
      print("valid")
else:
       print("invalid")

enter EMAIL idvijjugmain.com
invalid

In [85]:
f1=open("carplate.txt",'r')
f2=open('output1.txt','w')
for line in f1:
    list=re.findall("[KA][0][0-6][A-Z]{2}[0-9]{4}")
    for n in list:
        f1.write(n+"\n")
print("extracted all car plate number")
f1.close()
f2.close()

extracted all car plate number

In [88]:
import numpy as np
import pandas as pd
rm=pd.read_csv("titanic_test.csv")

In [89]:
rm

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
5,897,3,"Svensson, Mr. Johan Cervin",male,14.0,0,0,7538,9.2250,NaN,S
6,898,3,"Connolly, Miss. Kate",female,30.0,0,0,330972,7.6292,NaN,Q
7,899,2,"Caldwell, Mr. Albert Francis",male,26.0,1,1,248738,29.0000,NaN,S
8,900,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,18.0,0,0,2657,7.2292,NaN,C
9,901,3,"Davies, Mr. John Samuel",male,21.0,2,0,A/4 48871,24.1500,NaN,S
10,902,3,"Ilieff, Mr. Ylio",male,NaN,0,0,349220,7.8958,NaN,S
11,903,1,"Jones, Mr. Charles Cresson",male,46.0,0,0,694,26.0000,NaN,S
12,904,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",female,23.0,1,0,21228,82.2667,B45,S
13,905,2,"Howard, Mr. Benjamin",male,63.0,1,0,24065,26.0000,NaN,S
14,906,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",female,47.0,1,0,W.E.P. 5734,61.1750,E31,S
15,907,2,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)",female,24.0,1,0,SC/PARIS 2167,27.7208,NaN,C
16,908,2,"Keane, Mr. Daniel",male,35.0,0,0,233734,12.3500,NaN,Q
17,909,3,"Assaf, Mr. Gerios",male,21.0,0,0,2692,7.2250,NaN,C
18,910,3,"Ilmakangas, Miss. Ida Livija",female,27.0,1,0,STON/O2. 3101270,7.9250,NaN,S
19,911,3,"Assaf Khalil, Mrs. Mariana (Miriam"")""",female,45.0,0,0,2696,7.2250,NaN,C
20,912,1,"Rothschild, Mr. Martin",male,55.0,1,0,PC 17603,59.4000,NaN,C
21,913,3,"Olsen, Master. Artur Karl",male,9.0,0,1,C 17368,3.1708,NaN,S
22,914,1,"Flegenheim, Mrs. Alfred (Antoinette)",female,NaN,0,0,PC 17598,31.6833,NaN,S
23,915,1,"Williams, Mr. Richard Norris II",male,21.0,0,1,PC 17597,61.3792,NaN,C
24,916,1,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",female,48.0,1,3,PC 17608,262.3750,B57 B59 B63 B66,C
25,917,3,"Robins, Mr. Alexander A",male,50.0,1,0,A/5. 3337,14.5000,NaN,S
26,918,1,"Ostby, Miss. Helene Ragnhild",female,22.0,0,1,113509,61.9792,B36,C
27,919,3,"Daher, Mr. Shedid",male,22.5,0,0,2698,7.2250,NaN,C
28,920,1,"Brady, Mr. John Bertram",male,41.0,0,0,113054,30.5000,A21,S
29,921,3,"Samaan, Mr. Elias",male,NaN,2,0,2662,21.6792,NaN,C
...,...,...,...,...,...,...,...,...,...,...,...
388,1280,3,"Canavan, Mr. Patrick",male,21.0,0,0,364858,7.7500,NaN,Q
389,1281,3,"Palsson, Master. Paul Folke",male,6.0,3,1,349909,21.0750,NaN,S
390,1282,1,"Payne, Mr. Vivian Ponsonby",male,23.0,0,0,12749,93.5000,B24,S
391,1283,1,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",female,51.0,0,1,PC 17592,39.4000,D28,S
392,1284,3,"Abbott, Master. Eugene Joseph",male,13.0,0,2,C.A. 2673,20.2500,NaN,S
393,1285,2,"Gilbert, Mr. William",male,47.0,0,0,C.A. 30769,10.5000,NaN,S
394,1286,3,"Kink-Heilmann, Mr. Anton",male,29.0,3,1,315153,22.0250,NaN,S
395,1287,1,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",female,18.0,1,0,13695,60.0000,C31,S
396,1288,3,"Colbert, Mr. Patrick",male,24.0,0,0,371109,7.2500,NaN,Q
397,1289,1,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",female,48.0,1,1,13567,79.2000,B41,C
398,1290,3,"Larsson-Rondberg, Mr. Edvard A",male,22.0,0,0,347065,7.7750,NaN,S
399,1291,3,"Conlon, Mr. Thomas Henry",male,31.0,0,0,21332,7.7333,NaN,Q
400,1292,1,"Bonnell, Miss. Caroline",female,30.0,0,0,36928,164.8667,C7,S
401,1293,2,"Gale, Mr. Harry",male,38.0,1,0,28664,21.0000,NaN,S
402,1294,1,"Gibson, Miss. Dorothy Winifred",female,22.0,0,1,112378,59.4000,NaN,C
403,1295,1,"Carrau, Mr. Jose Pedro",male,17.0,0,0,113059,47.1000,NaN,S
404,1296,1,"Frauenthal, Mr. Isaac Gerald",male,43.0,1,0,17765,27.7208,D40,C
405,1297,2,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",male,20.0,0,0,SC/PARIS 2166,13.8625,D38,C
406,1298,2,"Ware, Mr. William Jeffery",male,23.0,1,0,28666,10.5000,NaN,S
407,1299,1,"Widener, Mr. George Dunton",male,50.0,1,1,113503,211.5000,C80,C
408,1300,3,"Riordan, Miss. Johanna Hannah""""",female,NaN,0,0,334915,7.7208,NaN,Q
409,1301,3,"Peacock, Miss. Treasteall",female,3.0,1,1,SOTON/O.Q. 3101315,13.7750,NaN,S
410,1302,3,"Naughton, Miss. Hannah",female,NaN,0,0,365237,7.7500,NaN,Q
411,1303,1,"Minahan, Mrs. William Edward (Lillian E Thorpe)",female,37.0,1,0,19928,90.0000,C78,Q
412,1304,3,"Henriksson, Miss. Jenny Lovisa",female,28.0,0,0,347086,7.7750,NaN,S
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [93]:
rm1=pd.read_csv("titanic_train.csv")

In [94]:
rm1

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [95]:
rm2=pd.read_csv("advertising.csv")

In [96]:
rm2

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Male,Country,Timestamp,Clicked on Ad
0,68.95,35,61833.90,256.09,Cloned 5thgeneration orchestration,Wrightburgh,0,Tunisia,2016-03-27 00:53:11,0
1,80.23,31,68441.85,193.77,Monitored national standardization,West Jodi,1,Nauru,2016-04-04 01:39:02,0
2,69.47,26,59785.94,236.50,Organic bottom-line service-desk,Davidton,0,San Marino,2016-03-13 20:35:42,0
3,74.15,29,54806.18,245.89,Triple-buffered reciprocal time-frame,West Terrifurt,1,Italy,2016-01-10 02:31:19,0
4,68.37,35,73889.99,225.58,Robust logistical utilization,South Manuel,0,Iceland,2016-06-03 03:36:18,0
5,59.99,23,59761.56,226.74,Sharable client-driven software,Jamieberg,1,Norway,2016-05-19 14:30:17,0
6,88.91,33,53852.85,208.36,Enhanced dedicated support,Brandonstad,0,Myanmar,2016-01-28 20:59:32,0
7,66.00,48,24593.33,131.76,Reactive local challenge,Port Jefferybury,1,Australia,2016-03-07 01:40:15,1
8,74.53,30,68862.00,221.51,Configurable coherent function,West Colin,1,Grenada,2016-04-18 09:33:42,0
9,69.88,20,55642.32,183.82,Mandatory homogeneous architecture,Ramirezton,1,Ghana,2016-07-11 01:42:51,0
10,47.64,49,45632.51,122.02,Centralized neutral neural-net,West Brandonton,0,Qatar,2016-03-16 20:19:01,1
11,83.07,37,62491.01,230.87,Team-oriented grid-enabled Local Area Network,East Theresashire,1,Burundi,2016-05-08 08:10:10,0
12,69.57,48,51636.92,113.12,Centralized content-based focus group,West Katiefurt,1,Egypt,2016-06-03 01:14:41,1
13,79.52,24,51739.63,214.23,Synergistic fresh-thinking array,North Tara,0,Bosnia and Herzegovina,2016-04-20 21:49:22,0
14,42.95,33,30976.00,143.56,Grass-roots coherent extranet,West William,0,Barbados,2016-03-24 09:31:49,1
15,63.45,23,52182.23,140.64,Persistent demand-driven interface,New Travistown,1,Spain,2016-03-09 03:41:30,1
16,55.39,37,23936.86,129.41,Customizable multi-tasking website,West Dylanberg,0,Palestinian Territory,2016-01-30 19:20:41,1
17,82.03,41,71511.08,187.53,Intuitive dynamic attitude,Pruittmouth,0,Afghanistan,2016-05-02 07:00:58,0
18,54.70,36,31087.54,118.39,Grass-roots solution-oriented conglomeration,Jessicastad,1,British Indian Ocean Territory (Chagos Archipe...,2016-02-13 07:53:55,1
19,74.58,40,23821.72,135.51,Advanced 24/7 productivity,Millertown,1,Russian Federation,2016-02-27 04:43:07,1
20,77.22,30,64802.33,224.44,Object-based reciprocal knowledgebase,Port Jacqueline,1,Cameroon,2016-01-05 07:52:48,0
21,84.59,35,60015.57,226.54,Streamlined non-volatile analyzer,Lake Nicole,1,Cameroon,2016-03-18 13:22:35,0
22,41.49,52,32635.70,164.83,Mandatory disintermediate utilization,South John,0,Burundi,2016-05-20 08:49:33,1
23,87.29,36,61628.72,209.93,Future-proofed methodical protocol,Pamelamouth,1,Korea,2016-03-23 09:43:43,0
24,41.39,41,68962.32,167.22,Exclusive neutral parallelism,Harperborough,0,Tokelau,2016-06-13 17:27:09,1
25,78.74,28,64828.00,204.79,Public-key foreground groupware,Port Danielleberg,1,Monaco,2016-05-27 15:25:52,0
26,48.53,28,38067.08,134.14,Ameliorated client-driven forecast,West Jeremyside,1,Tuvalu,2016-02-08 10:46:14,1
27,51.95,52,58295.82,129.23,Monitored systematic hierarchy,South Cathyfurt,0,Greece,2016-07-19 08:32:10,1
28,70.20,34,32708.94,119.20,Open-architected impactful productivity,Palmerside,0,British Virgin Islands,2016-04-14 05:08:35,1
29,76.02,22,46179.97,209.82,Business-focused value-added definition,West Guybury,0,Bouvet Island (Bouvetoya),2016-01-27 12:38:16,0
...,...,...,...,...,...,...,...,...,...,...
970,40.18,29,50760.23,151.96,Enhanced intangible portal,Lake Tracy,0,Hong Kong,2016-06-25 04:21:33,1
971,45.17,48,34418.09,132.07,Down-sized background groupware,Taylormouth,1,Palau,2016-01-27 14:41:10,1
972,50.48,50,20592.99,162.43,Switchable real-time product,Dianaville,0,Malawi,2016-05-16 18:51:59,1
973,80.87,28,63528.80,203.30,Ameliorated local workforce,Collinsburgh,0,Uruguay,2016-02-27 20:20:25,0
974,41.88,40,44217.68,126.11,Streamlined exuding adapter,Port Rachel,1,Cyprus,2016-02-28 23:54:44,1
975,39.87,48,47929.83,139.34,Business-focused user-facing benchmark,South Rebecca,1,Mexico,2016-06-13 06:11:33,1
976,61.84,45,46024.29,105.63,Reactive bi-directional standardization,Port Joshuafort,1,Niger,2016-05-05 11:07:13,1
977,54.97,31,51900.03,116.38,Virtual bifurcated portal,Robinsontown,1,France,2016-07-07 12:17:33,1
978,71.40,30,72188.90,166.31,Integrated 3rdgeneration monitoring,Beckton,0,Japan,2016-05-24 17:07:08,0
979,70.29,31,56974.51,254.65,Balanced responsive open system,New Frankshire,1,Norfolk Island,2016-03-30 14:36:55,0
980,67.26,57,25682.65,168.41,Focused incremental Graphic Interface,North Derekville,1,Bulgaria,2016-05-27 05:54:03,1
981,76.58,46,41884.64,258.26,Secured 24hour policy,West Sydney,0,Uzbekistan,2016-01-03 16:30:51,0
982,54.37,38,72196.29,140.77,Up-sized asymmetric firmware,Lake Matthew,0,Mexico,2016-06-25 18:17:53,1
983,82.79,32,54429.17,234.81,Distributed fault-tolerant service-desk,Lake Zacharyfurt,1,Brunei Darussalam,2016-02-24 10:36:43,0
984,66.47,31,58037.66,256.39,Vision-oriented human-resource synergy,Lindsaymouth,1,France,2016-03-03 03:13:48,0
985,72.88,44,64011.26,125.12,Customer-focused explicit challenge,Sarahland,0,Yemen,2016-04-21 19:56:24,1
986,76.44,28,59967.19,232.68,Synchronized human-resource moderator,Port Julie,1,Northern Mariana Islands,2016-04-06 17:26:37,0
987,63.37,43,43155.19,105.04,Open-architected full-range projection,Michaelshire,1,Poland,2016-03-23 12:53:23,1
988,89.71,48,51501.38,204.40,Versatile local forecast,Sarafurt,1,Bahrain,2016-02-17 07:00:38,0
989,70.96,31,55187.85,256.40,Ameliorated user-facing help-desk,South Denise,0,Saint Pierre and Miquelon,2016-06-26 07:01:47,0
990,35.79,44,33813.08,165.62,Enterprise-wide tangible model,North Katie,1,Tonga,2016-04-20 13:36:42,1
991,38.96,38,36497.22,140.67,Versatile mission-critical application,Mauricefurt,1,Comoros,2016-07-21 16:02:40,1
992,69.17,40,66193.81,123.62,Extended leadingedge solution,New Patrick,0,Montenegro,2016-03-06 11:36:06,1
993,64.20,27,66200.96,227.63,Phased zero tolerance extranet,Edwardsmouth,1,Isle of Man,2016-02-11 23:45:01,0
994,43.70,28,63126.96,173.01,Front-line bifurcated ability,Nicholasland,0,Mayotte,2016-04-04 03:57:48,1
995,72.97,30,71384.57,208.58,Fundamental modular algorithm,Duffystad,1,Lebanon,2016-02-11 21:49:00,1
996,51.30,45,67782.17,134.42,Grass-roots cohesive monitoring,New Darlene,1,Bosnia and Herzegovina,2016-04-22 02:07:01,1
997,51.63,51,42415.72,120.37,Expanded intangible solution,South Jessica,1,Mongolia,2016-02-01 17:24:57,1
998,55.55,19,41920.79,187.95,Proactive bandwidth-monitored policy,West Steven,0,Guatemala,2016-03-24 02:35:54,0
999,45.01,26,29875.80,178.35,Virtual 5thgeneration emulation,Ronniemouth,0,Brazil,2016-06-03 21:43:21,1